/Automail$BotType.class
/Automail.class
/IMailPool.class
/IRobotBehaviour.class
/MyRobotBehaviour.class
/WeakStrongMailPool.class
/UpperMailPool.class
/LowerMailPool.class
/MailDistribution.class
/MailPool.class
